{% extends 'main/base.html'%}
{% load mediapath %}
{% block content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">Всего рассылок: {{mailing_count}}</p>
            <p class="card-text">Активных рассылок: {{mailing_active}}</p>
            <p class="card-text">Количество клиентов: {{clients_count}} </p>

        </div>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Skystore</h1>
        <p class="lead">Skystore - сервис рассылок</p>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$ 140</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- Неограниченная лицензия</li>
                            <li>- Поддержка</li>
                            <li>- Установка на сервер</li>
                            <li>- Получение обновлений</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%for blog in blogs%}
    <div class="card shadow-sm">
        <div class="card-body">

            <img src="{% mediapath blog.img %}" alt="Картинка"  width="50" height="50"/>
            <h1>{{ blog.header }}</h1>
            <p class="card-text">{{ blog.content }}</p>
            <p class="card-text">{{ blog.views }}</p>
            <p class="card-text">{{ blog.date }}</p>

        </div>
    </div>
{%endfor%}

{% endblock %}