
<div class="card shadow-sm">
    <div class="card-body">

        <h1>{{ message.theme }}</h1>
        <p class="card-text">{{ message.content }}</p>


        {% if user.is_authenticated %}
        <p><a class="btn btn-secondary" href="{% url 'main:message_detail' message.pk %}">Посмотреть &raquo;</a></p>
            {% if user.email == message.user %}
        <p><a class="btn btn-warning" href="{% url 'main:message_update' message.pk %}">Изменить &raquo;</a></p>
            {% endif %}
            {% if user.is_superuser %}
        <p><a class="btn btn-danger" href="{% url 'main:message_delete' message.pk %}">Удалить &raquo;</a></p>
            {% endif %}
        {% else %}
        <p class="uk-text-center">Войдите для просмотра полной информации </p>
        {% endif %}
    </div>
</div>